<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'; style-src 'self';"
  />
    <title>Dashboard Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  >
    <script src="main.js"></script>
  </head>
  <body>


    <main class="mainCenter">

        <section class="container">
      <h1>CONTROLE</h1>

      <section class="row g-3 btnCenter">
        <div class="col-md-6">
            <a href="../registerContato/index.html">
                <button class="btnContato">Cadastro de Contatos</button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="../registerOrgao/index.html">
                <button class="btnDashboard">Cadastro de Órgãos</button>
            </a>
        </div>
    </section>
    
      <section class="row g-3 btnCenter">
      <div class="col-md-6">
          <a href="../contatoCadastrado/index.html">
              <button class="btnContato">Contatos Cadastrados</button>
          </a>
      </div>
      <div class="col-md-6">
          <a href="../orgaoCadastrado/index.html">
              <button class="btnDashboard">Órgãos Cadastrados</button>
          </a>
      </div>
    </section>
    <section class="row g-3 btnCenter">
    <div class="col-md-6">
        <a href="../registerEvento/index.html">
            <button class="btnEvento">Cadastro de Evento</button>
        </a>
    </div>
    <div class="col-md-6">
        <a href="../orgaoCadastrado/index.html">
            <button class="btnEvento">Eventos Cadastrados</button>
        </a>
    </div>
    </section>
    
    <section class="row g-3 btnCenter">
      <div class="col-md-6">
        <a href="../registerAdm/index.html">
            <button class="btnAdm">Cadastro de Administrador</button>
        </a>
    </div>
    <div class="col-md-6">
      <a href="../registerAdm/index.html">
          <button class="btnAdm">Gerenciar Administrador</button>
      </a>
  </div>
        <div class="col-md-12">
            <button class="btnEmail">Email em Lote</button>
        </div>
    </section>
    </section>
      

    </main>

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js" ></script>
  </body>
</html>
