<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'; style-src 'self';"
  />
    <title>Dashboard Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>


    <main class="mainCenter">

        <section>
      <h1>CONTROLE</h1>

      <section class="btnCenter">
        <div>
         <a href="../registerContato/index.html"> <button class="btnContato">Cadastro de Contatos</button></a>
        </div>
        <div>
          <a href="../registerOrgao/index.html"><button class="btnDashboard">Cadastro de Órgãos</button></a>
        </div>
      </section>
      <div>
        <a href="../contatoCadastrado/index.html"><button class="btnContato">Contatos Cadastrados</button></a>
      </div>
      <div>
        <a href="../orgaoCadastrado/index.html"><button class="btnDashboard">Órgãos Cadastrados</button></a>
      </div>
      <div>
        <a href="../registerAdm/index.html"><button class="btnAdm">Cadastro de Administrador</button></a>
      </div>
      <div>
        <button class="btnEmail">Email em Lote</button>
      </div>
        </section>
      

    </main>
  </body>
</html>
