* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #cfcfcf;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: right;
  }
  
  header button {
    background-color: #cfcfcf;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
  
    transition: 0.3s;
  }
  
  header button:hover {
    background-color: #b3b3b3;
  }
  
  .mainCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    text-align: center;
  }
  
  h1{
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px;
      color: #000;
  }
  
  .btnCenter {
    display: block;
  }
  
  .btnCenter div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnDashboard, .btnContato, .btnAdm, .btnEmail {
    color: black;
    width: 350px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 22px;
  
  }
  
  .btnDashboard {
    background-color: #a0d2f3;
  }
  
  .btnDashboard:hover {
    background-color: #b3b3b3;
  }
  
  .btnContato {
    background-color: #f4fab4;
  }
  
  .btnContato:hover {
    background-color: #b3b3b3;
  }
  
  .btnAdm {
    background-color: #95fab9;
  }
  
  .btnAdm:hover {
    background-color: #b3b3b3;
  }
  
  .btnEmail {
    background-color: #fa5f49;
  }
  
  .btnEmail:hover {
    background-color: #b3b3b3;
  }
  