<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Acesso Agenda</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>
		<link
			rel="shortcut icon"
			href="../images/agenda.png"
			type="image/x-icon"
		/>
	</head>
	<body>
		<div class="bg-img">
			<div class="content">
				<header>Acesso Agenda</header>
				<form action="#">
					<div class="field">
						<span class="fa fa-user"></span>
						<input type="text" required placeholder="Login" />
					</div>
					<div class="field space">
						<span class="fa fa-lock"></span>
						<input
							type="password"
							class="pass-key"
							required
							placeholder="Senha"
						/>
					</div>

					<div class="field">
						<input type="submit" value="LOGIN" />
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
