*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  .bg-img{
    background: rgb(190,230,203);
    background: radial-gradient(circle, rgba(190,230,203,1) 35%, rgba(159,208,175,1) 100%);
    height: 100vh;
   
    background-position: center;
  }

  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  }
  .content header{
    color: black;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
  }
  .field{
    position: relative;
    margin-top: 15px;
    height: 45px;
    width: 100%;
    display: flex;
    color: #000;
    
  }
  .field span{
    color: #222;
    width: 0px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: 1px solid #222 ;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  .show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .pass-key:valid ~ .show{
    display: block;
  }
  .field input[type="submit"]{
    background: #115d35;
    border: 1px solid #115d35;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .field input[type="submit"]:hover{
    background: #1e7547;
  }
  