@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

header {
	box-shadow: 1px 1px 3px;
	background-color: #f4fab4;
}

header h2 {
	margin-top: 5px;
	padding: 10px 20px;
}
.list {
	margin-top: 30px;
}

.list li {
	list-style: none;
	padding: 15px 0px;
	border-bottom: 1px solid #ccc;
	display: flex;

	align-items: center;
	text-transform: capitalize;
}
i {
	margin: 0;
	padding: 5px;
}

.list li:hover {
	background-color: #f7fbc6;
	cursor: pointer;
}

.topo {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
}

.topo section h1 {
	font-size: 34px;
	color: #000;
}

.filterSelect select,
input {
	margin: 10px;
	padding: 8px;
	border: 1px solid #ccc;
}

.search-box {
	position: relative; /* Posicionamento relativo para o 'input' */
	width: 300px;
}

.search-box input[type='text'] {
	width: 100%;
	padding: 10px 40px 10px 10px; /* Espaçamento interno para não sobrepor o ícone */
	box-sizing: border-box;
}

.search-box svg {
	position: absolute; /* Posicionamento absoluto relativo ao pai 'search-box' */
	top: 25px; /* Posicionado verticalmente no centro */
	right: 10px; /* Alinhado à direita dentro do 'input' */
	cursor: pointer; /* Cursor como ponteiro para indicar clicabilidade */
	width: 20px;
	height: 20px;
}

.card {
	width: 300px;

	border-radius: 8px;
	margin: 10px 0;
	padding: 10px;
	background-color: #fff;
	box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.35);
}

.none {
	display: none;
}

.card p {
	font-size: 16px;
	font-weight: 700;
}

.btn {
	display: flex;
	justify-content: center;
	margin-top: 0px;
}

header a {
	text-decoration: none;
	color: #000;
}

.button {
	margin-top: 10px;
	--background: #fb0c0c;
	--background-hover: #fb0c0c;
	--text: #fff;
	--icon: #fff;
	display: flex;
	outline: none;
	cursor: pointer;
	border: 0;
	min-width: 113px;
	padding: 5px 20px 5px 12px;
	border-radius: 11px;
	line-height: 24px;
	font-family: inherit;
	font-weight: 600;
	font-size: 15px;
	overflow: hidden;
	color: var(--text);
	background: var(--b, var(--background));
	transition: transform 0.3s, background 0.4s;
	transform: scale(var(--scale, 1)) translateZ(0);
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	&:active {
		--scale: 0.95;
	}
	&:hover {
		--b: var(--background-hover);
	}
	.icon,
	span {
		display: inline-block;
		vertical-align: top;
		transform: translateZ(0);
	}
	.icon {
		width: 24px;
		height: 24px;
		position: relative;
		z-index: 1;
		margin-right: 8px;
		color: var(--text);
		svg {
			width: 96px;
			height: 96px;
			display: block;
			position: absolute;
			left: -36px;
			top: -36px;
			will-change: transform;
			fill: var(--icon);
			transform: scale(0.254) translateZ(0);
			animation: var(--name, var(--name-top, none)) 2200ms ease forwards;
			&.bottom {
				--name: var(--name-bottom, none);
			}
		}
	}
	span {
		animation: var(--name-text, none) 2200ms ease forwards;
	}
	&.delete {
		--name-top: trash-top;
		--name-bottom: trash-bottom;
		--name-text: text;
	}
}

@keyframes trash-bottom {
	25%,
	32% {
		transform: translate(32px, 19px) scale(1) translateZ(0);
	}
	70%,
	80% {
		transform: translate(32px, 0) scale(0.254) translateZ(0);
	}
	100% {
		transform: scale(0.254) translateZ(0);
	}
}

@keyframes trash-top {
	25%,
	32% {
		transform: translate(38px, 4px) scale(1) rotate(-20deg) translateZ(0);
	}
	70%,
	80% {
		transform: translate(32px, 0) scale(0.254) translateZ(0);
	}
	100% {
		transform: scale(0.254) translateZ(0);
	}
}

@keyframes text {
	25% {
		transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
	}
	70% {
		opacity: 1;
		transform: translate(-12px, 48px) rotate(-80deg) scale(0.2)
			translateZ(0);
	}
	71% {
		opacity: 0;
	}
	72%,
	90% {
		opacity: 0;
		transform: translateZ(0);
	}
	100% {
		opacity: 1;
	}
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: inherit;
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

header {
	height: 100%;
	overflow-y: scroll;
}

.hamburger {
	display: none;
	font-size: 30px;
	background: none;
	border: none;
}

@media (max-width: 768px) {
	.hamburger {
		display: block;
	}

	.list {
		display: none;
		width: 100%;
		text-align: left;
	}

	.list.hidden {
		display: none;
	}

	.list.show {
		display: block;
	}
}
