@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');



.topo {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
}

.topo section h1 {
	font-size: 34px;
	color: #000;
}

.filterSelect select,
input {
	margin: 10px;
	padding: 8px;
	border: 1px solid #ccc;
}

.search-box {
	position: relative; /* Posicionamento relativo para o 'input' */
	width: 300px;
}

.search-box input[type='text'] {
	width: 100%;
	padding: 10px 40px 10px 10px; /* Espaçamento interno para não sobrepor o ícone */
	box-sizing: border-box;
}

.search-box svg {
	position: absolute; /* Posicionamento absoluto relativo ao pai 'search-box' */
	top: 15px; /* Posicionado verticalmente no centro */
	right: 10px; /* Alinhado à direita dentro do 'input' */
	cursor: pointer; /* Cursor como ponteiro para indicar clicabilidade */
	width: 20px;
	height: 20px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

header {
	box-shadow: 1px 1px 3px;
	background-color: #f4fab4;
}

header h2 {
	margin-top: 5px;
	padding: 10px 20px;
}
.list {
	margin-top: 30px;
}

.list li {
	list-style: none;
	padding: 15px 0px;
	border-bottom: 1px solid #ccc;
	display: flex;

	align-items: center;
	text-transform: capitalize;
}
i {
	margin: 0;
	padding: 5px;
}

.list li:hover {
	background-color: #f7fbc6;
	cursor: pointer;
}

.topo {
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.35);
}

.topo section h1 {
	font-size: 34px;
	color: #000;
}

header a {
	text-decoration: none;
	color: #000;
}
.content {
	margin: 10px;
	padding: 10px;
}

.lista li {
	margin-top: 10px;
	border: none;
	border-bottom: 1px solid #ccc;
}

header {
	height: 100%;
	overflow-y: scroll;
}

.hamburger {
	display: none;
	font-size: 30px;
	background: none;
	border: none;
}

@media (max-width: 768px) {
	.hamburger {
		display: block;
	}

	.list {
		display: none;
		width: 100%;
		text-align: left;
	}

	.list.hidden {
		display: none;
	}

	.list.show {
		display: block;
	}
}
